.body-font{
    font-family: 'Quicksand', sans-serif;
}
.footer-bg{
    background-color: #262339;
 
    margin-top: 15px;
}
.footer-title{
    color: white;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}
.footer_li{
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}
.footer_li li{
    text-align: start;
    margin-left: 35px;
}

.footer-img{
    width: 65px;
    height: auto; 
    margin-right: 13px;
    margin-bottom: 15px;
    cursor: pointer;
}

.copyrigth-area{
    border-top: 2px solid #423f54;
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
}
.footer-icon{
    color: #ff7f47;
}