.package-info span{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.package-info , .package-info-2{
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #304f47;
    font-family: 'Quicksand', sans-serif;
}

.package-title{
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #ff7f47;
    text-transform: capitalize;
    padding: 8px 0;
    font-family: 'Quicksand', sans-serif;
}
.package-head h5{
    margin-bottom: 15px;
    font-size: 20px;
    color: #ff7f47;
    line-height: 1;
}
.package-head h2{
    font-family: "Quicksand",sans-serif;
    font-style: normal;
    font-weight: 700;
}
.package-btn Link{
    text-decoration: none;
    color: #000;
    font-family: 'Quicksand', sans-serif;
}

.package-btn span, svg {
    color: #000;
}
a.package-btn {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #304f47;
    font-weight: 700;
    font-size: 15px;
}

.shadow-box{
    box-shadow: 0 0 30px rgb(19 19 19 / 12%);
}

button.package-btn {
    text-decoration: none;
    outline: none;
}



img.card-img-top:hover {
    transform: scale(1.05);
}

img.card-img-top{
    width: 100%;
    transition: all .4s;   
}
    
.package-img {
    overflow: hidden;
}