.carousel-indicators {
    display: none;
}
.slider-img{
    height: 90vh;
    width: 100%; 
}
.slider-details {
    max-width: 650px;
    top: 15%;
    text-align: start;
}
.slider-details h2{
    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}
.slider-details h5{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #ff7f47;
    margin: 10px 0 15px;
    font-family: 'Quicksand', sans-serif;
}
.slider-details button{
    border: none;
    padding: 16px 32px;
    background: rgb(46 79 71 / 0.86);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}