.top-header{
    /* padding: 8px 0; */
    background: #304f47;
}
.header-left{
    color: #fff;
    font-size: 16px;
}

.items {
    list-style: none;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    padding: 20px 5px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    transition: .3s;
}
.items:hover {
    color: #ff7f47;
}













/* .navbar-brand  img {
    width:150px;
}
.logo {
    Booking: 3px solid #494949;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
} */