.top-header{
    height: 40px;
    background: #304f47;
}
.favIcon-left {
    font-size: 13px;
    color: #fff;
}
.favIcon-left a{
     text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}
.favIcon-left svg {
    color: #fff;
}
.fab-icon{
    color: #ff7f47;
    height: 13px;
    margin-left: 3px;
}
.favIcon-right svg {
    color: #ff7f47;
    margin-left: 19px;
    height: 13px;
    margin-top: 8px;
}

@media only screen and (min-width:0px) and (max-width:689px) {
    .top-header{
        display: none;
    }
}